:root {
  --color-primary: rgb(17, 24, 42);
  --color-secondary: #ffffff;
  --color-tertiary: rgb(220, 220, 220);
  --color-primary-darker: #0c1229;
  --color-secondary-darker: ;
  --color-tertiary-darker: ;
  --color-primary-lighter: #58a7c6;
  --color-secondary-lighter: ;
  --color-tertiary-lighter: ;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

* h1 {
  font-size: 2rem;
}

body {
  font-size: 16px;
  font-weight: 300;
  background-color: var(--color-primary);
  color: white;
}

/* GENERAL ELEMENTS */
.section {
  text-align: center;
  border-top: 1px solid #ffffff;
  padding: 15rem 3rem;
  -webkit-transition: opacity 1.5s, -webkit-transform 1.5s;
  transition: opacity 1.5s, -webkit-transform 1.5s;
  transition: transform 1.5s, opacity 1.5s;
  transition: transform 1.5s, opacity 1.5s, -webkit-transform 1.5s;
}

.section#location {
  padding-top: 7rem;
}

.section p {
  font-weight: 400;
}

.section--hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

/* NAVIGATION */
.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  width: 100%;
  padding: 0 2rem;
  z-index: 100;
  background-color: var(--color-secondary);
  color: black;
  font-weight: 400;
}

.nav__logo {
  height: 4.5rem;
}

.nav__links {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__item {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .nav__item {
    margin-left: 2rem;
  }
}

@media (min-width: 960px) {
  .nav__item {
    margin-left: 3rem;
  }
}

@media (min-width: 1200px) {
  .nav__item {
    margin-left: 4rem;
  }
}

.nav__link {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-decoration: none;
  color: inherit;
}

.nav__link:hover {
  text-decoration: underline;
}

/* ABOUT */
/* ANNOUNCEMENTS */
.carousel {
  position: relative;
  height: 60%;
  width: 80%;
  margin: 0 auto;
}

.carousel__track-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 0.8s ease-in;
  transition: -webkit-transform 0.8s ease-in;
  transition: transform 0.8s ease-in;
  transition: transform 0.8s ease-in, -webkit-transform 0.8s ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 1rem;
}

.carousel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__button {
  width: 2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.carousel__button img {
  width: 2rem;
}

.carousel__button--left {
  right: 100%;
}

.carousel__button--right {
  left: 100%;
}

.carousel__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background: rgba(255, 255, 255, 0.3);
  margin: 0.5rem;
  outline: none;
}

.carousel__indicator.current-slide {
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: background 0.8s ease-in;
  transition: background 0.8s ease-in;
}

.carousel__video-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-video h1 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#easter-sunday {
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#easter-message p {
  font-size: 4rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.announcements {
  margin-left: 1rem;
  text-align: left;
  font-size: 1.1rem;
}

.announcements-header {
  text-decoration: underline;
}

/* GRID */
.grid {
  display: -ms-grid;
  display: grid;
  gap: 16px;
  padding: 16px;
  color: black;
}

@media (min-width: 768px) {
  .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.grid img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.grid .col {
  background-color: var(--color-tertiary);
  padding: 16px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.grid .col.img-block {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 0;
  background-color: none;
}

.grid .col:hover {
  background-color: white;
  font-weight: bolder;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  z-index: 10;
}

/* SERMONS */
.sermons__spotify-link {
  text-decoration: none;
  color: #1db954;
}

.sermons__spotify-link:hover {
  text-decoration: underline;
}

.sermons__spotify-code:hover {
  border: 1px solid white;
}

/* GIVING */
.section#giving {
  color: white;
  background-image: url(../images/giving.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 40%;
  background-position-y: bottom;
}

.giving-container {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.giving-container h3 {
  text-decoration: underline;
}

.giving__section-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.giving__section-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.giving__tithely-fees {
  font-style: italic;
}

.tithely-give-btn {
  background-color: #26af5f;
  border: none;
  color: #fff;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.tithely-give-btn:hover {
  background-color: var(--color-primary);
  color: #26af5f;
}

/* CONTACT */
.section__contact {
  -webkit-transition: background-color 1s, color 1s;
  transition: background-color 1s, color 1s;
}

.contact .input {
  -webkit-box-shadow: 10px 10px 5px;
          box-shadow: 10px 10px 5px;
}

.contact input {
  padding: 0.5rem 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  font-size: 1rem;
}

.contact textarea {
  padding: 0.5rem 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  font-size: 1rem;
}

.contact-focus {
  color: #000;
  background-color: var(--color-secondary);
}

/* FOOTER */
.footer {
  background-color: var(--color-primary-darker);
  padding: 6rem 4rem;
  color: var(--color-secondary);
}

.footer__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  color: inherit;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */