:root {
  --color-primary: rgb(17, 24, 42);
  --color-secondary: #ffffff;
  --color-tertiary: rgb(220, 220, 220);
  --color-primary-darker: #0c1229;
  --color-secondary-darker: ;
  --color-tertiary-darker: ;
  --color-primary-lighter: #58a7c6;
  --color-secondary-lighter: ;
  --color-tertiary-lighter: ;
}
$title-font: "Nunito Sans", sans-serif;
$body-font: "Raleway", sans-serif;
// $background-color:
$light-grey: rgb(239, 239, 239);
$gold: rgba(170, 144, 85, 1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  // PICK FONT
  //   font-family: 'Nunito Sans', sans-serif;
  // font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2.5rem;
  // color: $gold;
}
h2 {
  font-size: 2rem;
}

body {
  font-size: 24px;
  font-family: $body-font;
  font-weight: 400;
  background-color: $light-grey;
  color: black;
  // background: radial-gradient(#0c1229, rgb(220, 220, 220));
  // background: content-box radial-gradient(#0c1229, rgb(220, 220, 220));
  // background: linear-gradient(white, grey, black);
}

/* GENERAL ELEMENTS */
.section-container {
  width: 100%;
  border-top: 1px solid $gold;
  transition: transform 1.5s, opacity 1.5s;
}

.section {
  text-align: center;
  // width: 100%;
  // min-width: 300px;
  max-width: 1000px;
  margin: auto;
  padding: 300px 10px;
}

.section__title {
  // font-family: "Nunito Sans", sans-serif;
  font-family: $title-font;
  font-weight: 400;
}

.section__content {
  font-family: $body-font;
  // font-size: 1.4rem;
  // font-weight: 200;
}

#home {
  .section {
    padding-top: 160px;
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* NAVIGATION */
header {
  font-family: "Proza Libre", sans-serif;
}

.crosslife-logo {
  padding-top: 10px;
  width: 250px;
  height: 80px;
  object-fit: cover;
}

.nav {
  opacity: 0.95;
  font-size: 18px;
  font-weight: 400;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  box-shadow: 0px 2px 2px 2px rgba($color: #000000, $alpha: 0.2);
  padding-right: 1rem;
  z-index: 2;
  background-color: var(--color-secondary);
  color: black;
  // font-weight: 400;
  // transition: 0.4s all;
}

.nav__links {
  // font-size: 0.8rem;
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.nav__item {
  padding-left: 20px;
}

.menu-btn {
  display: none;
}

.menu__modal-content {
  display: none;
}

@media (max-width: 1024px) {
  .nav__links {
    display: none;
  }

  .nav {
    padding-right: 0;
    padding-left: 0;
    justify-content: space-between;
  }

  .menu-btn {
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: lightgrey;
    margin-right: 15px;
    // border: 1px solid red;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger {
    height: 4px;
    width: 40px;
    background: grey;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 40px;
    background: grey;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-11px);
  }

  .menu-btn__burger::after {
    transform: translateY(11px);
  }

  /* HAMBURGER MENU ANIMATION */
  .menu-btn.open .menu-btn__burger {
    background: transparent;
    transform: translateX(-50px);
  }

  .menu-btn.open .menu-btn__burger::before {
    // transform: rotate(45deg) translate(35px, -35px);
    transform: translate(50px, 0px) rotate(45deg);
  }

  .menu-btn.open .menu-btn__burger::after {
    // transform: rotate(-45deg) translate(35px, 35px);
    transform: translate(50px, 0px) rotate(-45deg);
  }

  // . #announcement-banner {
  //   // border: 1px solid red;
  // }

  /* HAMBURGER MENU CONTENTS */
  // .menu__modal {
  //   display: none;
  //   position: fixed;
  //   width: 100vh;
  //   height: 100vh;
  //   z-index: 100;
  //   background: black;
  //   background: rgba($color: #000000, $alpha: 0.4);
  //   transition: all 0.3s linear;
  // }

  // .menu__modal.hidden {
  //   display: none;
  // }

  .menu__modal-content {
    // transform: translateY(-10px);
    display: block;
    position: fixed;
    z-index: 2;
    // padding-top: 30px;
    right: -300px;
    top: 80px;
    width: 300px;
    height: 500px;
    overflow: auto;
    background-color: lightgrey;
    transition: all 0.5s ease-in-out;
  }

  .menu__modal-content.open {
    transform: translateX(-300px);
  }

  .menu__links {
    height: 100%;
    font-size: 24px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    // border: 2px solid red;
  }

  .menu__link {
    color: inherit;
    text-decoration: none;
  }

  .menu__link:hover {
    color: $gold;
  }

  /* SECTION */
  .section {
    padding: 160px 10px;
  }

  .section-container#contact {
    .section {
      // padding-top: 10px;
      padding-bottom: 30px;
    }
  }
}

.nav__link {
  // transition-duration: 0.5s;
  text-decoration: none;
  color: inherit;
  padding-bottom: 27px;
  // border: 1px solid black;
}

.nav--active {
  color: $gold;
  border-bottom: 3px solid $gold;
}

.nav__link:hover {
  // text-decoration: underline;
  color: $gold;
  border-bottom: 3px solid $gold;
}

/* HOME */
.home-pic {
  // text-align: center;
  // height: 600px;
  // width: 600px;
  width: 100%;
  max-height: 800px;
  min-height: 300px;
  min-width: 300px;
  // margin: auto;
  object-fit: cover;
  // border: 2px solid red;
}

/* ANNOUNCEMENTS */
#announcements {
  padding-top: 160px;
  padding-bottom: 100px;
  // border: 2px solid green;
  // background-color: rgb(80, 0, 105);
}

.announcements {
  max-width: 1000px;
  margin: auto;
  display: flex;
  // flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  flex-flow: column wrap;

  text-align: left;
  padding-left: 20px;
  font-weight: lighter;
  // border: 1px solid red;
}

.announcements-list {
  // font-size: 1.4rem;
  // text-align: left;
  font-size: 24px;
  font-weight: 400;
}

.announcements-header {
  font-size: 24px;
  font-weight: 400;
  text-decoration: underline;
}

// CAROUSEL
.carousel {
  display: block;
  position: relative;
  height: 60%;
  width: 80%;
  margin: 0 auto;
  // background: lightblue;
}
.carousel__track-container {
  position: relative;
  height: 100%;
  // background: lightgreen;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 0.8s ease-in;
}

.carousel__slide {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  border: 1px solid white;
  // background: black;
  height: 100%;
  width: 100%;
  padding: 1rem 1rem;
  // overflow: hidden;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__button {
  width: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  img {
    width: 2rem;
  }
}

.carousel__button--left {
  right: 100%;
}

.carousel__button--right {
  left: 100%;
}

.carousel__nav {
  display: flex;
  justify-content: center;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background: rgba(255, 255, 255, 0.3);
  margin: 0.5rem;
  outline: none;
}

.current-dot {
  background: rgba(255, 255, 255, 0.9);
  transition: background 0.8s ease-in;
}

// CAROUSEL VIDEO (EASTER SUNDAY)
.carousel__video-container {
  width: 100%;
  height: 100%;
}

.carousel__video-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#easter-sunday {
  z-index: -1;
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#announcement-banner-text {
  font-size: 16px;
  font-weight: 300;
  // margin-left: 1.5rem;
  // font-size: 1.1rem;
  // border: 1px solid black;
}

#easter-countdown {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

/* SERMONS */
.youtube-livestream {
  iframe {
    width: 100%;
    min-width: 300px;
    min-height: 500px;
    max-width: 1000px;
  }
}

#livestream {
  text-decoration: underline;
}

.sermons__spotify-link {
  text-decoration: none;
  color: #1db954;
}

.sermons__anchor-link {
  text-decoration: none;
  color: rgb(80, 0, 105);
  // background: white;
}

.sermons__spotify-link:hover {
  text-decoration: underline;
}

.sermons__anchor-link:hover {
  text-decoration: underline;
}

.sermons__spotify-code:hover {
  border: 3px solid #1db954;
}

#anchor-player {
  iframe {
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    // border: 3px solid grey;
    border-bottom: 3px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    border-radius: 7px;
  }
}

/* GIVING */
.section-container#giving {
  max-width: 100%;
  // margin: 0;
  color: white;
  // background: black;
  background-image: url(../images/giving.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 40%;
  background-position-y: bottom;
  // padding: 15rem 0rem;
}
.giving-container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;

  h3 {
    text-decoration: underline;
  }
}

.giving__section-1 {
  // background: red;
  flex: 1 1 300px;
}

.giving__section-2 {
  // background: blue;
  flex: 1 1 300px;
}

.giving__tithely-fees {
  font-style: italic;
}

.tithely-give-btn {
  background-color: #26af5f;
  border: none;
  color: #fff;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.tithely-give-btn:hover {
  background-color: var(--color-primary);
  // background-color: #000;
  color: #26af5f;
}

/* LOCATION */
.google-maps {
  position: relative;
  padding-bottom: 60%; // This is the aspect ratio
  height: 100%;
  overflow: hidden;
  // border: 1px solid red;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  // max-width: 1920px;
  height: 100% !important;
  max-height: 1000px;
}

.important-message {
  color: red;
  background-color: #fff000;
}

/* CONTACT */
#contact {
  transition: background-color 1.5s, color 1.5s, transform 1.5s;

  .section {
    padding-top: 300px;
    padding-bottom: 250px;
  }

  .input {
    font-size: 1.2rem;
    box-shadow: 0px 5px 5px 5px rgb(150, 150, 150);
    max-width: 1000px;
  }

  input {
    font-family: $body-font;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 3px;
  }

  textarea {
    font-family: $body-font;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    width: 100%;
  }

  .form-btn {
    font-weight: 400;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 5px;
    // background-color: rgb(231, 231, 231);
    font-size: 1.2rem;
    width: 100%;
    max-width: 1000px;
    cursor: pointer;
  }

  .form-btn:hover {
    color: white;
    background-color: rgb(150, 150, 150);
  }
}
.contact-focus {
  color: black;
  background-color: white;
}

.contact-unfocus {
  color: white;
  background-color: var(--color-primary-darker);
}

/* FOOTER */
footer {
  color: white;
  font-family: "Nunito Sans", sans-serif;
}

.footer {
  font-size: 1rem;
  background-color: var(--color-primary-darker);
  padding: 10px 0;
  color: var(--color-secondary);
  display: flex;
  justify-content: space-around;
}

.footer__service-info {
  border-spacing: 1rem;
  // margin-bottom: 3rem;
  // border: 1px solid green;
  min-width: 260px;
  align-self: center;
}

.footer__socials {
  // border: 1px solid white;
  padding-top: 1.1rem;
  max-width: 250px;
  margin-bottom: 0;
  // align-self: center;

  p {
    text-align: center;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  li {
    // flex: 1 1 10px;
    margin: 0.5rem;
    margin-bottom: 0;
  }

  img {
    width: 2rem;
  }
}
