:root {
  --color-primary: rgb(17, 24, 42);
  --color-secondary: #ffffff;
  --color-tertiary: rgb(220, 220, 220);
  --color-primary-darker: #0c1229;
  --color-secondary-darker: ;
  --color-tertiary-darker: ;
  --color-primary-lighter: #58a7c6;
  --color-secondary-lighter: ;
  --color-tertiary-lighter: ;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

* h1 {
  font-size: 2rem;
}

body {
  font-size: 16px;
  font-weight: 300;
  background-color: var(--color-primary);
  color: white;
}

/* GENERAL ELEMENTS */
.section {
  text-align: center;
  width: 100%;
  border-top: 1px solid #ffffff;
  padding: 15rem 2rem;
  -webkit-transition: opacity 1.5s, -webkit-transform 1.5s;
  transition: opacity 1.5s, -webkit-transform 1.5s;
  transition: transform 1.5s, opacity 1.5s;
  transition: transform 1.5s, opacity 1.5s, -webkit-transform 1.5s;
}

.section__description {
  font-size: 1.4rem;
  font-weight: 200;
}

.section#about {
  padding-top: 9rem;
}

.section#location {
  padding-top: 7rem;
}

.section p {
  font-weight: 400;
}

.section--hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

/* NAVIGATION */
.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  width: 100%;
  padding-right: 1rem;
  z-index: 10;
  background-color: var(--color-secondary);
  color: black;
  font-weight: 400;
}

.nav__links {
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.nav__item {
  margin-left: 0rem;
}

@media (min-width: 1000px) {
  .nav__item {
    margin-left: 1.5rem;
  }
}

.hamburger-menu--icon {
  display: none;
}

@media (max-width: 1000px) {
  .nav__links {
    display: none;
  }
  .nav {
    padding-right: 0;
    padding-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hamburger-menu--icon {
    display: block;
  }
  #announcement-banner {
    border: 1px solid red;
  }
}

.nav__link {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-decoration: none;
  color: inherit;
}

.nav__link:hover {
  text-decoration: underline;
}

/* ABOUT */
.about-pic {
  max-width: 100%;
  height: auto;
}

/* ANNOUNCEMENTS */
.announcements {
  font-size: 1.4rem;
}

.carousel {
  display: block;
  position: relative;
  height: 60%;
  width: 80%;
  margin: 0 auto;
}

.carousel__track-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 0.8s ease-in;
  transition: -webkit-transform 0.8s ease-in;
  transition: transform 0.8s ease-in;
  transition: transform 0.8s ease-in, -webkit-transform 0.8s ease-in;
}

.carousel__slide {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid white;
  height: 100%;
  width: 100%;
  padding: 1rem 1rem;
}

.carousel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__button {
  width: 2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.carousel__button img {
  width: 2rem;
}

.carousel__button--left {
  right: 100%;
}

.carousel__button--right {
  left: 100%;
}

.carousel__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background: rgba(255, 255, 255, 0.3);
  margin: 0.5rem;
  outline: none;
}

.current-dot {
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: background 0.8s ease-in;
  transition: background 0.8s ease-in;
}

.carousel__video-container {
  width: 100%;
  height: 100%;
}

.carousel__video-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#easter-sunday {
  z-index: -1;
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#announcement-banner {
  font-size: 1.1rem;
}

#easter-countdown {
  text-align: center;
}

.announcements {
  margin-left: 1rem;
  text-align: left;
  font-size: 1.1rem;
  font-weight: lighter;
}

.announcements-header {
  text-decoration: underline;
}

/* SERMONS */
.sermons__spotify-link {
  text-decoration: none;
  color: #1db954;
}

.sermons__anchor-link {
  text-decoration: none;
  color: #500069;
}

.sermons__spotify-link:hover {
  text-decoration: underline;
}

.sermons__anchor-link:hover {
  text-decoration: underline;
}

.sermons__spotify-code:hover {
  border: 1px solid white;
}

#anchor-player iframe {
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
}

/* GIVING */
.section#giving {
  color: white;
  background-image: url(../images/giving.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 40%;
  background-position-y: bottom;
}

.giving-container {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.giving-container h3 {
  text-decoration: underline;
}

.giving__section-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.giving__section-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.giving__tithely-fees {
  font-style: italic;
}

.tithely-give-btn {
  background-color: #26af5f;
  border: none;
  color: #fff;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.tithely-give-btn:hover {
  background-color: var(--color-primary);
  color: #26af5f;
}

/* LOCATION */
.google-maps {
  position: relative;
  padding-bottom: 60%;
  height: 100%;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  max-height: 1000px;
}

.covid {
  color: red;
}

/* CONTACT */
.section__contact {
  -webkit-transition: background-color 1.5s, color 1.5s;
  transition: background-color 1.5s, color 1.5s;
}

#contact .input {
  font-size: 1.2rem;
  -webkit-box-shadow: 10px 10px 5px;
          box-shadow: 10px 10px 5px;
  max-width: 1000px;
}

#contact input {
  padding: 0.5rem 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

#contact textarea {
  padding: 0.5rem 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

#contact .form-btn {
  font-size: 1.1rem;
  width: 100%;
  max-width: 1000px;
}

.contact-focus {
  color: #000;
  background-color: var(--color-secondary);
}

/* FOOTER */
.footer {
  font-size: 1rem;
  background-color: var(--color-primary-darker);
  padding: 2rem 0;
  color: var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__service-info {
  border-spacing: 1rem;
  min-width: 260px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__socials {
  padding-top: 1.1rem;
  max-width: 250px;
  margin-bottom: 0;
}

.footer__socials p {
  text-align: center;
}

.footer__socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__socials li {
  margin: 0.5rem;
  margin-bottom: 0;
}

.footer__socials img {
  width: 2rem;
}
/*# sourceMappingURL=main.css.map */