:root {
  --color-primary: rgb(17, 24, 42);
  --color-secondary: #ffffff;
  --color-tertiary: rgb(220, 220, 220);
  --color-primary-darker: #0c1229;
  --color-secondary-darker: ;
  --color-tertiary-darker: ;
  --color-primary-lighter: #58a7c6;
  --color-secondary-lighter: ;
  --color-tertiary-lighter: ;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

body {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: #efefef;
  color: black;
  min-height: 100vh;
}

/* GENERAL ELEMENTS */
.section-container {
  width: 100%;
  border-top: 1px solid #aa9055;
  -webkit-transition: opacity 1.5s, -webkit-transform 1.5s;
  transition: opacity 1.5s, -webkit-transform 1.5s;
  transition: transform 1.5s, opacity 1.5s;
  transition: transform 1.5s, opacity 1.5s, -webkit-transform 1.5s;
}

.section {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  padding: 200px 10px;
}

.section__title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.section__content {
  font-family: "Raleway", sans-serif;
}

#home .section {
  padding-top: 120px;
}

.section--hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

/* NAVIGATION */
header {
  font-family: "Proza Libre", sans-serif;
}

.crosslife-logo {
  padding-top: 5px;
  width: 161px;
  height: 50px;
}

.nav {
  opacity: 0.95;
  font-size: 18px;
  font-weight: 400;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding-right: 1rem;
  z-index: 2;
  background-color: var(--color-secondary);
  color: black;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0;
}

.nav__item {
  padding-left: 20px;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  padding-bottom: 14px;
}

.nav--active {
  color: #aa9055;
  border-bottom: 3px solid #aa9055;
}

.nav__link:hover {
  color: #aa9055;
  border-bottom: 3px solid #aa9055;
}

.menu-btn {
  display: none;
}

.menu__modal-content {
  display: none;
}

/* HOME */
.home-pic {
  width: 100%;
  max-height: 800px;
  min-height: 300px;
  min-width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ANNOUNCEMENTS */
#announcements {
  padding-top: 160px;
  padding-bottom: 140px;
}

.announcements {
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: left;
  padding-left: 20px;
  font-weight: lighter;
}

.announcements-list {
  font-size: 24px;
  font-weight: 400;
}

.announcements-header {
  font-size: 24px;
  font-weight: 400;
  text-decoration: underline;
}

#announcement-banner-text {
  font-size: 16px;
  font-weight: 300;
}

#easter-countdown {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

/* SERMONS */
.youtube-livestream iframe {
  width: 100%;
  min-width: 300px;
  min-height: 500px;
  max-width: 1000px;
}

#livestream {
  text-decoration: underline;
}

#livestream a {
  color: red;
}

.lyrics-pdf a {
  color: red;
}

.sermons__spotify-link {
  text-decoration: none;
  color: #1db954;
}

.sermons__anchor-link {
  text-decoration: none;
  color: #500069;
}

.sermons__spotify-link:hover {
  text-decoration: underline;
}

.sermons__anchor-link:hover {
  text-decoration: underline;
}

.sermons__spotify-code:hover {
  border: 3px solid #1db954;
}

#anchor-player iframe {
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
  border-bottom: 3px solid grey;
  border-right: 2px solid grey;
  border-left: 2px solid grey;
  border-radius: 7px;
}

/* GIVING */
.section-container#giving {
  max-width: 100%;
  color: white;
  background-image: url(../images/giving.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 40%;
  background-position-y: bottom;
}

.giving-container {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.giving-container h3 {
  text-decoration: underline;
}

.giving__section-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.giving__section-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.giving__tithely-fees {
  font-style: italic;
}

.tithely-give-btn {
  background-color: #26af5f;
  border: none;
  color: #fff;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.tithely-give-btn:hover {
  background-color: var(--color-primary);
  color: #26af5f;
}

/* LOCATION */
.google-maps {
  position: relative;
  padding-bottom: 60%;
  height: 100%;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  max-height: 1000px;
}

.important-message {
  color: red;
  background-color: #fff000;
}

/* CONTACT */
#contact {
  -webkit-transition: background-color 1.5s, color 1.5s, -webkit-transform 1.5s;
  transition: background-color 1.5s, color 1.5s, -webkit-transform 1.5s;
  transition: background-color 1.5s, color 1.5s, transform 1.5s;
  transition: background-color 1.5s, color 1.5s, transform 1.5s, -webkit-transform 1.5s;
}

#contact .section {
  padding-top: 250px;
  padding-bottom: 300px;
}

#contact .input {
  font-size: 1.2rem;
  -webkit-box-shadow: 0px 5px 5px 5px #969696;
          box-shadow: 0px 5px 5px 5px #969696;
  max-width: 1000px;
}

#contact input {
  font-family: "Raleway", sans-serif;
  padding: 0.5rem 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: none;
  border-radius: 3px;
}

#contact textarea {
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

#contact .form-btn {
  font-weight: 400;
  border: 2px solid #969696;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 100%;
  max-width: 1000px;
  cursor: pointer;
}

#contact .form-btn:hover {
  color: white;
  background-color: #969696;
}

.contact-focus {
  color: black;
  background-color: white;
}

.contact-unfocus {
  color: white;
  background-color: var(--color-primary-darker);
}

/* FOOTER */
footer {
  color: white;
  font-family: "Nunito Sans", sans-serif;
}

.footer {
  font-size: 1rem;
  background-color: var(--color-primary-darker);
  padding: 10px 0;
  color: var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer.bottom {
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer__service-info {
  border-spacing: 1rem;
  min-width: 260px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__socials {
  padding-top: 1.1rem;
  max-width: 250px;
  margin-bottom: 0;
}

.footer__socials p {
  text-align: center;
}

.footer__socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__socials li {
  margin: 0.5rem;
  margin-bottom: 0;
}

.footer__socials img {
  width: 2rem;
}

/* RESPONSIVE / MOBILE-FRIENDLY */
@media (max-width: 1024px) {
  /* Make text smaller */
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  body {
    font-size: 20px;
  }
  /* Change nav bar to hamburger menu */
  .nav__links {
    display: none;
  }
  .nav {
    padding-right: 0;
    padding-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* HAMBURGER MENU */
  .menu-btn {
    z-index: 3;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 15px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger {
    height: 3px;
    width: 30px;
    background: grey;
    border-radius: 4px;
    -webkit-perspective: 1px;
            perspective: 1px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 30px;
    background: grey;
    border-radius: 4px;
    -webkit-perspective: 1px;
            perspective: 1px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
  .menu-btn__burger::after {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  /* HAMBURGER MENU ANIMATION */
  .menu-btn.open .menu-btn__burger {
    background: transparent;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  .menu-btn.open .menu-btn__burger::before {
    -webkit-transform: scale(10) rotate(45deg);
            transform: scale(10) rotate(45deg);
  }
  .menu-btn.open .menu-btn__burger::after {
    -webkit-transform: scale(10) rotate(-45deg);
            transform: scale(10) rotate(-45deg);
  }
  /* HAMBURGER MENU CONTENTS */
  .menu__modal-content {
    display: block;
    position: fixed;
    z-index: 2;
    right: -300px;
    top: 50px;
    width: 300px;
    height: 500px;
    overflow: auto;
    background-color: #dbdbdb;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu__modal-content.open {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  .menu__links {
    height: 100%;
    font-size: 20px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  .menu__link {
    color: inherit;
    text-decoration: none;
  }
  .menu__link:hover {
    color: #aa9055;
  }
  /* Adjust padding (make smaller for mobile) */
  /* SECTION */
  .section {
    padding: 100px 10px;
  }
  #contact .section {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  #home .section {
    padding-top: 80px;
  }
  /* ANNOUNCEMENTS */
  #announcements {
    padding-top: 120px;
    padding-bottom: 250px;
  }
  .announcements-list {
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */