:root {
  --color-primary: rgb(17, 24, 42);
  --color-secondary: #ffffff;
  --color-tertiary: rgb(220, 220, 220);
  --color-primary-darker: #0c1229;
  --color-secondary-darker: ;
  --color-tertiary-darker: ;
  --color-primary-lighter: #58a7c6;
  --color-secondary-lighter: ;
  --color-tertiary-lighter: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // PICK FONT
  font-family: "Poppins", sans-serif;
  // background: linear-gradient(white, grey, black);
  // background-repeat: none;
  h1 {
    font-size: 2rem;
  }
}

body {
  font-size: 16px;
  font-weight: 300;
  background-color: var(--color-primary);
  color: white;
  // background: radial-gradient(#0c1229, rgb(220, 220, 220));
  // background: content-box radial-gradient(#0c1229, rgb(220, 220, 220));
  // background: linear-gradient(white, grey, black);
}

/* GENERAL ELEMENTS */
.section {
  text-align: center;
  width: 100%;
  border-top: 1px solid #ffffff;
  padding: 15rem 3rem;
  transition: transform 1.5s, opacity 1.5s;
}

// .section#about {
//   padding-top: 8rem;
// }

.section#location {
  padding-top: 7rem;
}

.section p {
  font-weight: 400;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* NAVIGATION */
.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding: 0 2rem;
  z-index: 100;
  background-color: var(--color-secondary);
  color: black;
  font-weight: 400;
  // transition: 0.4s all;
}

.nav__logo {
  height: 4.5rem;
}

.nav__links {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  list-style: none;
  // background-color: burlywood;
  justify-content: space-between;
}

.nav__item {
  margin-left: 1rem;

  @media (min-width: 768px) {
    margin-left: 2rem;
  }

  @media (min-width: 960px) {
    margin-left: 3rem;
  }

  @media (min-width: 1200px) {
    margin-left: 4rem;
  }
}

.nav__link {
  transition-duration: 0.5s;
  text-decoration: none;
  color: inherit;
}

.nav__link:hover {
  text-decoration: underline;
}

/* ABOUT */

/* ANNOUNCEMENTS */
// CAROUSEL
.carousel {
  position: relative;
  height: 60%;
  width: 80%;
  margin: 0 auto;
  // background: lightblue;
}
.carousel__track-container {
  // padding: 10px;
  position: relative;
  height: 100%;
  // background: lightgreen;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 0.8s ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 1rem;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__button {
  width: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  // color: white;
  // filter: invert(100%) sepia(7%) saturate(7467%) hue-rotate(174deg)
  //   brightness(106%) contrast(106%);
  border: none;
  outline: none;
  cursor: pointer;

  img {
    width: 2rem;
  }
}

.carousel__button--left {
  right: 100%;
}

.carousel__button--right {
  left: 100%;
}

.carousel__nav {
  // background: pink;
  display: flex;
  justify-content: center;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background: rgba(255, 255, 255, 0.3);
  margin: 0.5rem;
  outline: none;
}

.current-dot {
  background: rgba(255, 255, 255, 0.9);
  transition: background 0.8s ease-in;
}

// CAROUSEL VIDEO (EASTER SUNDAY)
.carousel__video-container {
  position: absolute;
  // top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-video h1 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#easter-sunday {
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#easter-message p {
  font-size: 4rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.announcements {
  margin-left: 1rem;
  text-align: left;
  font-size: 1.1rem;
  // border: 1px solid white;
}

.announcements-header {
  text-decoration: underline;
}

/* GRID */
.grid {
  display: grid;
  gap: 16px;
  padding: 16px;
  color: black;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .col {
    background-color: var(--color-tertiary);
    padding: 16px;
    transition: transform 0.5s;
    // align-self: start or end or center

    &.img-block {
      align-self: start;
      padding: 0;
      background-color: none;
    }
  }

  .col:hover {
    background-color: white;
    font-weight: bolder;
    transform: scale(1.05, 1.05);
    z-index: 10;
  }
}

/* SERMONS */
.sermons__spotify-link {
  text-decoration: none;
  color: #1db954;
}

.sermons__anchor-link {
  text-decoration: none;
  color: rgb(80, 0, 105);
  // background: white;
}

.sermons__spotify-link:hover {
  text-decoration: underline;
}

.sermons__anchor-link:hover {
  text-decoration: underline;
}

.sermons__spotify-code:hover {
  border: 1px solid white;
}

/* GIVING */
.section#giving {
  color: white;
  // background: black;
  background-image: url(../images/giving.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 40%;
  background-position-y: bottom;
  // padding: 15rem 0rem;
}
.giving-container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;

  h3 {
    text-decoration: underline;
  }
}

.giving__section-1 {
  // background: red;
  flex: 1 1 300px;
}

.giving__section-2 {
  // background: blue;
  flex: 1 1 300px;
}

.giving__tithely-fees {
  font-style: italic;
}

.tithely-give-btn {
  background-color: #26af5f;
  border: none;
  color: #fff;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.tithely-give-btn:hover {
  background-color: var(--color-primary);
  // background-color: #000;
  color: #26af5f;
}

/* CONTACT */
.section__contact {
  // color: white;
  transition: background-color 1s, color 1s;
}

.contact {
  .input {
    box-shadow: 10px 10px 5px;
  }

  input {
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    width: 60%;
    font-size: 1rem;
  }

  textarea {
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    width: 60%;
    font-size: 1rem;
  }
}

.contact-focus {
  color: #000;
  background-color: var(--color-secondary);
}

/* FOOTER */
.footer {
  background-color: var(--color-primary-darker);
  padding: 6rem 4rem;
  color: var(--color-secondary);
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  color: inherit;
  text-decoration: none;
}
